numpy==1.23.4
openpyxl==3.0.10
packaging==21.3
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
pathy==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pip==21.3.1
platformdirs==2.5.4
streamlit-aggrid==0.3.3
streamlit==1.14.1
